.cover__image {
  position: relative;
  background-image: url("../../../images/highway-background.png");
  background-repeat: no-repeat;
  height: 740px;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1024px){
  .cover__image {
    width: 100%;
  }
}