.cover__title {
  position: absolute;
  width: 656px;
  height: 76px;
  left: 264px;
  top: 283px;
  z-index: 2;
  padding: 0;
  font-weight: bold;
  font-size: 72px;
  line-height: 76px; 
  text-align: center;
  margin: 0;
}