.place__description {
  width: calc(984px - 500px);
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1024px){
  .place__description {
    width: calc(928px - 472px);
  }
}

@media screen and (max-width: 768px){
  .place__description {
    width: calc(720px - 368px);
  }
}

@media screen and (max-width: 320px){
  .place__description {
    width: 288px;
    margin: 0 auto;
  }
}