.card {
  display: flex;
  max-width: 984px;
  padding: 0;
  margin: 81px 0 0;
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 1024px){
  .card {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px){
  .card {
    max-width: 720px;
    margin: 88px 0 0;
  }
}

@media screen and (max-width: 320px){
  .card {
    max-width: 320px;
    flex-direction: column;
    margin: 48px 0 0;
  }
}