.cover__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-image: url("../../../images/highway-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  max-width: 1184px;
  color: white;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  min-height: 740px;
  position: relative;
}

.cover__content::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #2A2C2F;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.cover__content:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px){
  .cover__content {
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px){
  .cover__content {
  width: 100%;
  min-height: 480px;
  }
}

@media screen and (max-width: 320px){
  .cover__content {
   width: 100%;
   min-height: 200px;
  }
} 